.form-control {
    max-height: 50px;
    margin-bottom: 20px !important;
    max-width: 380px !important;
    border-radius: 5px !important;
}

.form-control .v-input__slot {
    box-shadow: none !important;
    background-color: var(--v-border-base) !important;
}

.v-btn__content {
    text-transform: none !important;
}

.form-wrapper {
    max-width: 380px;
    width: 100%;
}
